<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Lista de clientes</title>
</head>
<body>
<!-- Utiliza th:text para mostrar el valor del atributo 'titulo' pasado desde el controlador -->
<h1 th:text="${titulo}">Texto de reemplazo si el título no se encuentra</h1>
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>teléfono</th>
			<th>Ciudad</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="cliente : ${listaClientes}">
			<td th:text="${cliente.codigoCliente}">1</td>
			<td th:text="${cliente.nombreCliente}">Carlos</td>
			<td th:text="${cliente.telefono}">+34912569874</td>
			<td th:text="${cliente.ciudad}">Madrid</td>
		</tr>
	</tbody>
	<td></td>
</table>
</body>
</html>